
/* change color of background to white and font family for page */
body, html {
  height: 100%;
  margin: 0;
  background-color: #000000;
  color: white;
  font-family: 'Handlee', cursive;
}

.container-fluid {
  padding: 0px;
}

/* Updates loader image */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

/* Updates about me section */

.about-me {
  min-height: 100vh;
  background-color: #000000;
  padding: 0px;
}

h1 {
  font-size: 5em;
  font-family: 'Great Vibes', cursive;
  color: gold;
}

h2 {
  font-size: 2.5em;
  font-family: 'Handlee', cursive;
  color: white;
}

/* One is the main image; Two is my name */
.header-image, .header-content {
  display: inline-block;
  vertical-align: middle;
}

.header-image {
  width: 48%;
  height: 100vh;
  background: url('images/ronesha2.jpg') center;
  background-size: cover;
}

.header-content {
  width: 48%;
  text-align: center;
}

/*To center my name in div "two" */
.centered {
  padding: 7.5% 0;
  text-align: center;
}

#my-intro {
  min-height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
}

#arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); 
}

#arrow i {
  margin: 0;
  text-align: center;
  color: white;
  -webkit-animation-name: arrowMove;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-name: arrowMove;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes arrowMove {
  from {margin-bottom: 1vh} 
  to {margin-bottom: 3vh}
}

@keyframes arrowMove {
  from {margin-bottom: 1vh} 
  to {margin-bottom: 3vh}
}


#scroll-contact {
  color: gold;
  text-decoration: none;
}

.portfolio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}


.portfolio h4 {
  font-size: 2em;
  color: black;  
  font-family: 'Handlee', cursive;
  text-align: center;
}
 
.portfolio p {
  color: black;
}

.current a {
  color: black;
}

.current a:hover {
  text-decoration: none;
  color: gold;
}

.current a:visited {
  text-decoration: none;
  color:black;
}

/* Individual project sections */
.web {
  display: none;
  height: 100vh;
  width: 100vw;
  background-size: cover; 
  background-repeat: no-repeat;
}

#web-seven {
  background: url('images/newamerica.png') center;
  display: block;
}

#web-six {
  background: url('images/wedding-vows.jpg') center;
}

#web-five {
  background: url('images/millers.jpg') center;
  background-size: 100vw;
}

#web-four {
  background: url('images/stateless.jpg'); 
}

#web-three {
  background: url('images/atlbusapp.jpg') center; 
}

#web-two {
  background: url('images/taskerapp.jpg') center; 
}

#web-one {
  background: url('images/goodcoffee.jpg') center; 
}



.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: gold;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 40px;
  border-radius: 5px;
}

.fa-angle-left, .fa-angle-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-arrow {
  left: -2px;
}

.right-arrow {
  right: -2px;
}

.center-content {
  padding: 11% 0;

}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  text-align: center;
}

.content h2 {
  color: gold;
}

button {
  padding: 1%;
  color: gold;
  background-color: transparent;
  border: 0.5px solid gold;
}

/* Contact forms and info */
#contact {
  min-height: 100vh;
  background-color: black;

}

#contact .center-content {
  padding: 5% 0;
}

#contact .content {
  padding: 2.5% 0;
}

#message {
  height: 20vh;
  width: 60vh;
}

#email, #subject {
  width: 60vh;
}

input, textarea {
  color: black;
}



@media (max-width: 768px) {

  .header-image {
    width: 100%;
    display: block;
    margin-top: -30%;
  }

  .header-image img {
    width: 100%;
  }

  .header-content {
    width: 100%;
    display: block;
  }

  .portfolio {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #arrow {
    display: none;
  }

  .left-arrow, .right-arrow {
    display: none;
  }

  .about-me, .web, .contact {
    min-width: 100%;
    min-height: 100%;
  }

  #message {
    height: 20%;
    width: 60%;
  }

  #email {
    width: 60%;
  }

  .center-content {
    padding: 40% 0;
  }

  .content {
    padding: 10% 0;
  }

  .web {
    display: block;
  }

}

@media (max-width: 768px) and (orientation: landscape) {
  .header-image {
    margin-top: 0;
    padding-bottom: 4em;
  }
}