
/* change color of background to white and font family for page */
body, html {
  height: 100%;
  margin: 0;
  background-color: #000000;
  color: white;
  font-family: 'Handlee', cursive;
}

.container-fluid {
  padding: 0px;
}

/* Updates about me section */

.about-me {
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  font-size: 5em;
  font-family: 'Great Vibes', cursive;
  color: gold;
}

h2 {
  font-size: 2.5em;
  font-family: 'Handlee', cursive;
  color: white;
}

/* One is the main image; Two is my name */
.one, .two {
  display: inline-block;
  vertical-align: middle;
}

.one {
  float: left;
  clear: both;
}

.two {
  width: 55%;
  text-align: center;
  padding: 15% 0;
}

/*To center my name in div "two" */
.centered {
  padding: 7.5% 0;
  text-align: center;
}

.my-work {
  min-height: 100vh;
  background-color: #FFFFFF;
  padding-top: 3%;
  padding-left: 1%;
}

.portfolio {
  padding: 10% 0 10% 0;
  text-align: center;
}

.portfolio h3 {
  text-align: center;
  font-size: 3em;
  color: gold;
  font-family: 'Handlee', cursive;
}

.portfolio h4 {
  font-size: 2em;
  color: black;  
}

.portfolio h4 {
  font-family: 'Handlee', cursive;
  text-align: center;
}
 
.portfolio p {
  color: black;
}

.completed, .current, .collabs {
  display: inline-block;
  clear: both;
  width: 30%;
  vertical-align: top;
}

.current a {
  color: black;
}

.current a:hover {
  text-decoration: none;
  color: gold;
}

.current a:visited {
  text-decoration: none;
  color:black;
}

/* Individual project sections */

.web-one, .web-two, .web-three, .web-four {
  min-height: 100vh;
  min-width: 100vh;
  background-size: cover; 
  background-repeat: no-repeat;
}

.web-one {
  background-image: url('images/stateless.jpg'); 
}

.web-two {
  background-image: url('images/atlbusapp.jpg'); 
}

.web-three {
  background-image: url('images/taskerapp.jpg'); 
}

.web-four {
  background-image: url('images/goodcoffee.jpg'); 
  background-color: rgba(0,0,0,0.4);
}

.center-content {
  padding: 11% 0;

}

.content {
  width: 80%;
  height: 70%;
  background-color: rgba(0,0,0,0.4);
  padding: 5.5% 0;
  margin: 0 auto;
  text-align: center;
}

.content h2 {
  color: gold;
}

button {
  padding: 1%;
  color: gold;
  background-color: transparent;
  border: 0.5px solid gold;
}

/* Contact forms and info */
.contact {
  min-height: 100vh;
  background-color: black;

}

.contact .center-content {
  padding: 5% 0;
}

.contact .content {
  padding: 2.5% 0;
}

#message {
  height: 20vh;
  width: 60vh;
}

#email, #subject {
  width: 60vh;
}

input, textarea {
  color: black;
}



@media (max-width: 768px) {

  .one {
    width: 100%;
    display: block;
  }

  .one img {
    width: 100%;
  }

  .two {
    width: 100%;
    display: block;
    margin-top: 1%;
  }

  .completed, .current, .collabs {
    width: 100%;
    display: block;
    padding-top: 1%;
  }

  .about-me, .my-work, .web-one, .web-two, .web-three, .web-four, .contact {
    min-width: 100%;
    min-height: 100%;
  }

  #message {
    height: 20%;
    width: 60%;
  }

  #email {
    width: 60%;
  }

  .center-content {
    padding: 40% 0;
  }

  .content {
    padding: 10% 0;
  }

}